footer#footer {
    background-color: var(--color-primary, #000);
    color: #fff;
    padding: 83px 133px;
}

footer#footer ul {
    list-style-type: none;
}

footer#footer ul>li {
    margin-bottom: 5px;
}

footer#footer ul>li a {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    font-family: var(--font-secondary, sans-serif);
}

footer#footer .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 560px;
    gap: 6px;
}

footer#footer .logo {
    width: 150px;
}

footer#footer .logo-container>p {
    font-size: 16px;
    font-weight: 300px;
    font-family: var(--font-secondary, sans-serif);
}

footer#footer section {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
}

footer#footer section>h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
}