@import url('./header.css');
@import url('./banner.css');

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 400;
    src: url('../fonts/sofia-pro/sofia-pro-regular.otf');
}

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 300;
    src: url('../fonts/sofia-pro/sofia-pro-light.otf');
}

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 200;
    src: url('../fonts/sofia-pro/sofia-pro-ultralight.otf');
}

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 500;
    src: url('../fonts/sofia-pro/sofia-pro-medium.otf');
}

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 600;
    src: url('../fonts/sofia-pro/sofia-pro-semibold.otf');
}

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 700;
    src: url('../fonts/sofia-pro/sofia-pro-bold.otf');
}

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 900;
    src: url('../fonts/sofia-pro/sofia-pro-black.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 28px;
    font-weight: 500;
}

h2 {
    font-size: 26px;
    font-weight: 300;
}

a {
    color: #000;
    text-decoration: none;
}

a.link-btn {
    color: #0F4E7D;
    background-color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    font-weight: 300;
    border: 1px #0F4E7D solid;
    border-radius: 100px;
}