<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="GEdO">
    <meta name="description" content="Sistema de cadastro escolar, criado com AngularJS.">
    <meta name="keywords" content="angular, angularjs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Sistema Escolar</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link rel="icon" href="" type="image/x-icon" />
    <link href="./assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="./assets/css/modal.css" rel="stylesheet" type="text/css" />


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="AppController">

    <main id="main">
        <article class="greetings">
            <h1 ng-bind="greetings"></h1>
        </article>
        <div ng-controller="ListaDeAlunosController" class="listaAlunosController">
            <aside ng-if="isModalActive" class="modal-container fade-in">
                <button class="giant-close-button" ng-click="toggleModal()"></button>
                <div class="modal">
                    <button class="close" type="button" ng-click="toggleModal()">
                        <span class="material-symbols-outlined">close</span>
                    </button>
                    <h2>Cadastro</h2>
                    <form>
                        <label>
                            <p>Nome</p>
                            <input type="text" placeholder="Nome completo" ng-model="usuarioInput.nome">
                        </label>
                        <label>
                            <p>Tipo</p>
                            <select ng-model="usuarioInput.tipo">
                                <option value="Aluno" selected>Aluno</option>
                                <option value="Professor">Professor</option>
                            </select>
                        </label>
                        <button class="btn send" type="submit" ng-click="adicionarUsuario()">Adicionar</button>
                    </form>
                </div>
            </aside>

            <form class="filters">
                <div class="search-box">
                    <select ng-model="filtroTipo">
                        <option selected value="">Todos</option>
                        <option value="Aluno">Aluno</option>
                        <option value="Professor">Professor</option>
                    </select>

                    <input type="search" id="search-dropdown" placeholder="Pesquisar usuário..." ng-model="filtro" />
                </div>
            </form>

            <table class="tabelaUsuarios">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Data de cadastro</th>
                        <th>Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        ng-repeat="usuario in usuarios | orderBy: '-dataCadastro' | orderBy: '-tipo' | filter: filtro | filter: {tipo: filtroTipo}">
                        <td ng-bind="usuario.nome | uppercase"></td>
                        <td ng-bind="usuario.tipo"></td>
                        <td ng-bind="usuario.dataCadastro | date: 'dd/MM/yyyy'"></td>
                        <td ng-click="removerUsuario(usuario)" style="cursor: pointer;"><span
                                class="material-symbols-outlined">delete</span>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="listaAlunosFooter">
                    <tr>
                        <td>
                            <button type="button" ng-click="toggleModal()" class="btn">Adicionar</button>
                        </td>
                        <td>Quantidade de alunos:
                            <span>{{ (usuarios | filter: {tipo: 'Aluno'}).length }}</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>

    <script>
        window.app = angular.module('app', []);
    </script>
    <script src="./assets/js/aluno.service.js"></script>
    <script src="./assets/js/app.controller.js"></script>
    <script src="./assets/js/alunos.controller.js"></script>
</body>

</html>