<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="GEdO">
    <meta name="description" content="Sistema de cadastro escolar, criado com AngularJS.">
    <meta name="keywords" content="angular, angularjs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Sistema Escolar</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link rel="icon" href="" type="image/x-icon" />
    <link href="./assets/css/style.css" rel="stylesheet" type="text/css" />


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="AppController">

    <main id="main">
        <article class="greetings">
            <h1 ng-bind="greetings"></h1>
        </article>
        <div ng-controller="ListaDeAlunosController" class="listaAlunosController">
            <form class="filters">
                <div class="search-box">
                    <select ng-model="filtroTipo">
                        <option selected value="">Todos</option>
                        <option value="Professor">Professor</option>
                        <option value="Aluno">Aluno</option>
                    </select>

                    <input type="search" id="search-dropdown" placeholder="Pesquisar usuário..." ng-model="filtro" />
                </div>
            </form>

            <table class="tabelaUsuarios">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Data de cadastro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        ng-repeat="usuario in usuarios | orderBy: '-dataCadastro' | orderBy: '-tipo' | filter: filtro | filter: {tipo: filtroTipo}">
                        <td ng-bind="usuario.nome | uppercase"></td>
                        <td ng-bind="usuario.tipo"></td>
                        <td ng-bind="usuario.dataCadastro | date: 'dd/MM/yyyy'"></td>
                    </tr>
                </tbody>
                <tfoot class="listaAlunosFooter">
                    <tr>
                        <td>Quantidade de alunos:
                            <span>{{ (usuarios | filter: {tipo: 'Aluno'}).length }}</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>

    <script src="./assets/js/script.js"></script>
</body>

</html>