* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
    overflow-x: hidden;
}

main {
    padding: 32px;
}

aside.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 16px;
}

aside.menu a.goback-link {
    height: 2.5rem;
}

aside.menu a.goback-link:focus>img,
aside.menu a.goback-link:hover>img {
    transform: rotate(45deg);
}

aside.menu a.goback-link img {
    width: 2.5rem;
    aspect-ratio: 1/1;
    user-select: none;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px 32px;
    flex-wrap: wrap;
}

.card-container {
    width: 400px;
    height: 600px;
}

.card-flip {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);

    transition: transform 1s;
    transition-delay: 0.2s;
    transform-style: preserve-3d;
}

.card-face-front,
.card-face-back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    backface-visibility: hidden;
}

.card-face-front {
    background: #fff;
    transform: rotateY(180deg);
    user-select: none;
}

.card-face-back {
    background: url(../imgs/red-card-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateY(0deg);
}

.card-container:hover .card-flip {
    transform: rotateY(-180deg);
}

img.card-symbol-large {
    width: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-symbol-small {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.card-symbol-small>h2 {
    font-size: 50px;
    color: #f00;
}

.card-symbol-small>img {
    width: 50px;
}

.card-symbol-top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.card-symbol-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}