article.post {
    margin-bottom: 32px;
    padding: 16px;
    border-radius: 8px;
    background: var(--color-surface, #FFF);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    justify-self: center;
}

article.post>.post__title {
    color: var(--color-on-surface, #030818);
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 32px;
}

article.post>section.post__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

article.post>section.post__content>video {
    width: 100%;
    max-width: 1376px;
    height: auto;
    border-radius: 16px;
}

article.post>section.post__content>p.post__description {
    color: var(--color-on-surface-variant, #474E66);
    font-size: 18px;
    line-height: 27px;
}

article.post>section.post__content>ul.post__audio-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    list-style-type: none;
}

@media only screen and (max-width: 712px) {

    article.post>section.post__content>ul.post__audio-list>li,
    article.post>section.post__content>ul.post__audio-list>li>audio {
        width: 100%;
    }
}