@import url('./post.css');
@import url('./footer.css');

:root {
    --color-primary: #E59321;
    --color-on-primary: #FFFFFF;
    --color-surface: #FFFFFF;
    --color-on-surface: #000826;
    --color-on-surface-variant: #474E66;
    --color-surface-inverse: #000826;
    --color-on-surface-inverse: #FFFFFF;

    --font-primary-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary-family);
}

body {
    position: relative;
    min-height: 100vh;
}

header.page-header {
    display: flex;
    padding: 16px 32px;
    align-items: center;
    gap: 16px;
    background: var(--color-surface-inverse, #030818);
}

main.page-content {
    padding: 32px;
    background: var(--color-surface, #FFF);
    padding-bottom: 273px;
}

a {
    opacity: 0.5;
    transition: opacity 400ms ease-in-out;
}

a:hover {
    opacity: 1;
}

::selection {
    background: var(--color-primary, #000);
    color: var(--color-on-primary, #FFF);
}

@media only screen and (max-width: 712px) {
    header.page-header {
        display: flex;
        padding: 8px 16px;
    }

    main.page-content {
        padding: 16px;
    }
}