footer#footer {
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    background: var(--c-bg-o20, rgba(255, 255, 255, 0.2));
    box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.10);
}

footer#footer .title {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--c-primary, #000);
    font-family: var(--ff-secondary, sans-serif);
}

footer#footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 1rem;
    list-style-type: none;
}

footer#footer a {
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 150%;
    color: var(--c-brand, #000);
    font-family: var(--ff-primary, serif);
}

@media only screen and (min-width: 1200px) {
    footer#footer {
        padding: 4rem 10rem;
    }

    footer#footer .title {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    footer#footer ul {
        flex-direction: row;
    }

    footer#footer a {
        font-size: 1.25rem;
    }
}