main>header.introduction {
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

main>header.introduction>.text-container {
    width: 100%;
    max-width: 38.125rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main>header.introduction .title {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--c-primary, #000);
    font-family: var(--ff-secondary, sans-serif);
}

main>header.introduction .subtitle {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--c-secondary, #475B62);
    font-family: var(--ff-tertiary, monospace);
}

main>header.introduction img.photo {
    width: 5.5rem;
    height: 5.5rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

@media only screen and (min-width: 1200px) {
    main>header.introduction {
        padding: 4rem 10rem;
        align-items: center;
        justify-content: space-between;
    }

    main>header.introduction>.text-container {
        gap: 1rem;
    }

    main>header.introduction .title {
        font-size: 3rem;
    }

    main>header.introduction .subtitle {
        font-size: 1.5rem;
    }

    main>header.introduction img.photo {
        width: 15rem;
        height: 15rem;
        aspect-ratio: 1/1;
    }
}