section.section-projects {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.section-projects nav>ul {
    display: flex;
    gap: 1rem 0.5rem;
    flex-wrap: wrap;
    list-style-type: none;
}

.project {
    width: 7.5rem;
    height: 3.75rem;
    aspect-ratio: 2/1;
    border-radius: 8px;
}

@media only screen and (min-width: 1200px) {
    section.section-projects {
        padding: 4rem 10rem;
        gap: 2rem;
    }

    section.section-projects nav>ul {
        gap: 1rem 2rem;
    }

    .project {
        width: 20rem;
        height: 10rem;
        aspect-ratio: 2/1;
        border-radius: 16px;
    }
}