:root {
    font-size: 62.5%;
    --ff-primary: 'Josefin Sans', Arial, Helvetica, sans-serif;

    --c-primary: rgb(0, 0, 0);
    --c-secondary: rgb(71, 91, 98);
    --c-brand: rgb(0, 134, 180);
    --c-bg: rgb(255, 255, 255);
    --c-bg-o20: rgba(255, 255, 255, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    color: var(--c-primary, #000);
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
}

p {
    font-size: 1rem;
    line-height: 150%;
}

a {
    opacity: 0.5;
    transition: opacity 400ms ease-in-out;
}

a:hover {
    opacity: 1;
}

ul {
    list-style-type: none;
}

.title {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 120%;
    font-family: var(--ff-primary, sans-serif);
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 120%;
    color: var(--c-secondary, #475B62);
    font-family: var(--ff-primary, sans-serif);
}

.section {
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}


.introduction {
    padding: 1.6rem;
    display: flex;
    gap: 1.6rem;
}

.introduction .text-container {
    max-width: 61rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.introduction img {
    width: 8.8rem;
    height: 8.8rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    user-select: none;
}


.section-about-me .text-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}


#project-list {
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
    list-style-type: none;
}

#project-list li img {
    width: 12rem;
    height: 6.75rem;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    user-select: text;
    object-fit: cover;
}


#footer {
    padding: 1.6rem;
    background-color: var(--c-bg-o20, rgba(255, 255, 255, 0.2));
}

#footer .title {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
}

#footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#footer a {
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    color: var(--c-brand, #000);
    font-family: var(--ff-primary, sans-serif);
}


::selection {
    background-color: var(--c-primary, #000);
    color: var(--c-bg, #fff);
}


@media only screen and (min-width: 1024px) {

    .title {
        font-size: 4rem;
    }

    .introduction {
        padding: 6.4rem 16rem;
        align-items: center;
        justify-content: space-between;
    }

    .introduction .text-container {
        gap: 1.6rem;
    }

    .introduction .title {
        font-size: 4.8rem;
    }

    .subtitle {
        font-size: 2.4rem;
    }

    .introduction img {
        width: 24rem;
        height: 24rem;
    }

    .section .title::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.2rem;
        background-color: var(--c-primary, #000);
        transition: all 1s ease-in-out;
    }

    .section .title:hover::after {
        width: 80rem;
        max-width: 100%;
    }

    .section-about-me {
        padding: 3.2rem 16rem;
        gap: 3.2rem;
    }

    .section-about-me .text-container {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    .section-about-me p {
        font-size: 2rem;
    }

    .section-projects {
        padding: 6.4rem 16rem;
        gap: 3.2rem;
    }

    #project-list {
        gap: 3.2rem;
    }

    #project-list li img {
        width: 24rem;
        height: 13.5rem;
        border-radius: 0.8rem;
        transform: translate(-5%, -5%) scale(90%);
        transition: transform 0.5s;
    }

    #project-list li img:hover {
        transform: translate(0%, 0%) scale(100%);
    }

    #footer {
        padding: 6.4rem 16rem;
    }

    #footer .title {
        margin-bottom: 3.2rem;
        font-size: 3.2rem;
    }

    #footer a {
        font-size: 2rem;
    }
}