* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --c-light: rgba(255, 255, 255, 1);
    --c-light-o8: rgba(255, 255, 255, 0.8);
    --c-light-o6: rgba(255, 255, 255, 0.6);
    --c-light-o4: rgba(255, 255, 255, 0.4);
    --c-light-o2: rgba(255, 255, 255, 0.2);
    --c-dark: rgba(45, 18, 2, 1);
    --c-dark-o8: rgba(45, 18, 2, 0.8);
    --c-dark-o6: rgba(45, 18, 2, 0.6);
    --c-dark-o4: rgba(45, 18, 2, 0.4);
    --c-dark-o2: rgba(45, 18, 2, 0.2);
    --c-brand: rgba(227, 100, 21, 1);
    --c-brand-o8: rgba(227, 100, 21, 0.8);
    --c-brand-o6: rgba(227, 100, 21, 0.6);
    --c-brand-o4: rgba(227, 100, 21, 0.4);
    --c-brand-o2: rgba(227, 100, 21, 0.2);
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    height: 100dvh;
    overflow-x: hidden;
}

.danger {
    color: #B41A1A;
}

.container {
    max-width: 120rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.title {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3.2rem;
}

.btn {
    padding: 0.8rem 1.6rem;
    border: none;
    outline: none;
    color: var(--c-light);
    background-color: var(--c-brand);
    border-radius: 0.8rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.icon {
    user-select: none;
}

#header {
    background-color: var(--c-brand);
    border-radius: 0 0 3.2rem 3.2rem;
    margin-bottom: 3.2rem;
    z-index: 1;
}

#header .user-card {
    padding: 3.2rem;
    display: flex;
    gap: 1.6rem;
    max-width: 133rem;
    margin: 0 auto;
}

#header .user-photo {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 3.2rem;
}

#header .user-info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#header .user-name {
    font-size: 2.4rem;
    color: var(--c-dark);
}

#header .user-type {
    font-size: 1.6rem;
    color: var(--c-dark-o8);
}

#main {
    padding: 0 3.2rem;
}

.welcome-message {
    background-color: var(--c-brand-o2);
    padding: 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.8rem;
    margin-bottom: 3.2rem;
    color: var(--c-dark);
}

.welcome-message .icon {
    cursor: pointer;
    color: var(--c-dark);
}

.search-box {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 6.4rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    position: relative;
    padding: 1.6rem;
}

.search-box>.icon {
    background: transparent;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search-box>input[type="search"] {
    appearance: none;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.4rem;
}

.outline {
    margin-top: 1.6rem;
    border: 1px solid var(--c-dark-o6);
    padding: 1.6rem;
    border-radius: 1.6rem;
    height: 40rem;
    overflow-y: scroll;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.user-list-footer {
    margin-top: 1.6rem;
    display: flex;
    justify-content: space-between;
}

.user-list .item {
    padding: 1.6rem;
    background-color: var(--c-brand-o2);
    border: 1px solid var(--c-dark-o8);
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-list .item .leading-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.user-list .item .trailing-info {
    display: flex;
    gap: 3.2rem;
}

.user-list .item .user-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--c-dark);
}

.user-list .item .user-type {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--c-dark-o8);
}

.user-list .item .user-data {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--c-dark-o8);
    align-self: center;
}

.user-list-footer .users-total>p {
    text-align: end;
    font-size: 1.4rem;
}

.user-list-footer .users-total>p>span {
    font-weight: 600;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.filters {
    display: flex;
    gap: 0.8rem;
    margin-top: 1.6rem;
}

.filters select {
    border: none;
    outline: none;
    font-size: 1.4rem;
}

/* 
.filter-user-type-list {
    appearance: none;
    outline: none;
    border: none;
    padding: 0.8rem 1.6rem;
    color: var(--c-light);
    background-color: var(--c-brand);
    border-radius: 0.8rem;
    position: absolute;
    right: 1.6rem;
    cursor: pointer;
} */

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-4.8rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}