* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --c-light: #fff;
    --c-dark: #000;
    --c-dark-o6: rgba(0, 0, 0, 0.6);
    --c-brand-dark: #2d1202;
    --c-brand-dark-o8: rgba(45, 18, 2, 0.8);
    --c-brand-dark-o6: rgba(45, 18, 2, 0.6);
    --c-brand: #ff9554;
    --c-brand-o2: rgba(255, 149, 84, 0.2);
    --c-danger: #B41A1A;
    --c-danger-o2: rgba(180, 26, 26, 0.2);
    --c-success-light: #bdffd3;
    --c-success-dark: #01220c;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    height: 100dvh;
    overflow-x: hidden;
}

.danger {
    color: var(--c-danger);
}

input.ng-dirty.ng-invalid,
select.ng-touched.ng-invalid {
    border: 2px solid var(--c-danger);
    background-color: var(--c-danger-o2);
    color: var(--c-light);
}

.message {
    padding: 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.8rem;
}

.message .icon {
    cursor: pointer;
}

.welcome-message {
    background-color: var(--c-brand-o2);
    margin-bottom: 3.2rem;
    color: var(--c-brand-dark);
}

.success-message {
    background-color: var(--c-success-light);
    margin-top: 1.6rem;
    color: var(--c-success-dark);
}

.welcome-message .icon {
    color: var(--c-brand-dark);
}

.success-message .icon {
    color: var(--c-success-dark);
}

.container {
    max-width: 120rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.title {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3.2rem;
}

.btn {
    padding: 0.8rem 1.6rem;
    border: none;
    outline: none;
    color: var(--c-brand-dark);
    background-color: var(--c-brand);
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.btn:disabled {
    opacity: 0.5;
}

.icon {
    user-select: none;
}

#header {
    background-color: var(--c-brand);
    border-radius: 0 0 3.2rem 3.2rem;
    margin-bottom: 3.2rem;
    z-index: 1;
}

#header .user-card {
    padding: 3.2rem;
    display: flex;
    gap: 1.6rem;
    max-width: 133rem;
    margin: 0 auto;
}

#header .user-photo {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 3.2rem;
}

#header .user-info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#header .user-name {
    font-size: 2.4rem;
    color: var(--c-brand-dark);
}

#header .user-type {
    font-size: 1.6rem;
    color: var(--c-brand-dark-o8);
    font-weight: 600;
}

#main {
    padding: 0 3.2rem;
}

.search-box {
    border: 1px solid var(--c-dark-o6);
    border-radius: 6.4rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    position: relative;
    padding: 1.6rem;
    margin-bottom: 1.6rem;
}

.search-box>.icon {
    background: transparent;
    color: var(--c-dark-o6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search-box input[type="search"] {
    appearance: none;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.4rem;
}

.outline {
    margin-top: 1.6rem;
    border: 1px solid var(--c-brand-dark-o6);
    padding: 1.6rem;
    border-radius: 1.6rem;
    height: 40rem;
    overflow-y: scroll;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.user-list-footer {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.user-list .item {
    padding: 1.6rem;
    background-color: var(--c-brand-o2);
    border: 1px solid var(--c-brand-dark-o8);
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-list .item .leading-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.user-list .item .trailing-info {
    display: flex;
    gap: 3.2rem;
}

.user-list .item .user-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--c-brand-dark);
}

.user-list .item .user-type {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--c-brand-dark-o8);
}

.user-list .item .user-data {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--c-brand-dark-o8);
    align-self: center;
}

.user-list-footer .users-total>p {
    text-align: end;
    font-size: 1.4rem;
}

.user-list-footer .users-total>p>span {
    font-weight: 600;
}

.filters label {
    font-size: 1.4rem;
    font-weight: 600;
}

.filters #filter-user-type {
    border: none;
    outline: none;
    font-size: 1.4rem;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-4.8rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}